.cards {
    background-image: url(images/cardDeck.png);
    width: 571px;
    height: 2577px;
}
 
.clubs {
    background-position: -140px -190px;
    width: 148px;
    height: 202px;
    position: static;
}
 
.hearts {
    background-position: -433px -600px;
    width: 140px;
    height: 198px;
    margin-top: -170px;
    margin-left: 40px;
}
 
.diamonds {
    background-position: -289px -1395px;
    width: 144px;
    height: 198px;
    margin-top: -170px;
    margin-left: 80px;
}